# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# VSCode settings
.vscode/

# Database files
*.sqlite3
*.db

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
